* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MAIN PAGE WIDTH (GLOBAL) */
.header,
.top,
.main-body,
.quote,
.notif {
    width: 1200px;
    margin: 32px 16px;
}

[class*="-container"] {
    display: flex;
    justify-content: center;
}

.header-container,
.top-container {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.header .logo {
    font-size: 24px;
}

.header .logo,
.hero .main,
button.signup {
    color: #f9faf8;
}

.navigation,
.hero .secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.navigation {
    display: flex;
    gap: 16px;
}

.header .link {
    padding: 5px;
    border-radius: 5px;
    color: #e5e7eb;
    text-decoration: none;
}

.header .link:hover {
    background-color: #f9faf8;
    color: #1f2937;
}

.top {
    display: flex;
    gap: 32px;
}

.top-left,
.image-placeholder {
    flex: 0 1 600px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero .main {
    font-size: 48px;
    font-weight: 900;
}

button.signup {
    background-color: #3882f6;
    width: 128px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    margin: 16px 0;
}

button.signup:hover {
    background-color: #f9faf8;
    color: #3882f6;
    cursor: pointer;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
}

/* {
    border: 1px red solid;
}*/